<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.cere.rewards_module">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name="io.cere.rewards_module.RewardsModuleActivity"
            android:theme="@style/CRBWidget">
        </activity>

        <receiver android:name="io.cere.rewards_module.ReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>